/* src/components/Sidebar.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.layoutWorkbench {
    display: flex; /* Use flexbox for layout */
    flex-direction: row; /* Horizontal arrangement of children */
    justify-content: flex-start; /* Align children to the start of the container */
    align-items: stretch; /* Stretch children to match the container's height */
    width: 100%;
  }
  
  /* You can add more specific styling for Sidebar and Header components if needed */
  /* For example, to set their widths or add padding */
  
  /* Sidebar */
  .layoutWorkbench .Sidebar {
    flex: 1; /* Sidebar takes up 1/3 of the container's width */
    background-color: #333; /* Background color for Sidebar */
    color: #fff; /* Text color for Sidebar */
    padding: 20px; /* Padding for Sidebar content */
  }
  
  /* Header */
  .layoutWorkbench .Content {
    flex: auto; /* Header takes up 2/3 of the container's width */
      white-space: nowrap;
      overflow-x: hidden;
  }
  
  /* Calendar.css */
.calendar-container {
  overflow-x: auto;
  white-space: nowrap;
  height: 100%;
}

